In [3]:
from splinter import Browser
from bs4 import BeautifulSoup
import pandas as pd
import datetime as dt
import time

In [4]:
browser = Browser("chrome", executable_path='mars_app/chromedriver.exe', headless=False)
# headless - True will not open browser after cell is running

### NASA Mars News

In [5]:
url = "https://mars.nasa.gov/news/"
browser.visit(url)

In [6]:
# Converting into html page
html = browser.html
news_soup = BeautifulSoup(html, 'html.parser')

In [7]:
news_title = news_soup.find('div', class_='content_title').text

In [8]:

news_title

"NASA's Mars 2020 Rover Does Biceps Curls "

In [9]:
news_paragraph = news_soup.find('div', class_='article_teaser_body').text

In [10]:
news_paragraph

"In this time-lapse video, the robotic arm on NASA's Mars 2020 rover maneuvers its 88-pound (40-kilogram) sensor-laden turret as it moves from a deployed to stowed configuration."

### JPL Mars Space Images - Featured Image

In [11]:
url = 'https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars'
browser.visit(url)

In [12]:
# click buttons
browser.find_by_id('full_image').click()
time.sleep(2)
browser.find_link_by_partial_text('more info').click()
time.sleep(2)

html = browser.html
img_soup = BeautifulSoup(html, 'html.parser')

In [13]:

img = img_soup.find('figure', class_='lede')

In [14]:
# img.a['href']
img.find('a')['href']

'/spaceimages/images/largesize/PIA18897_hires.jpg'

In [15]:
'/spaceimages/images/largesize/PIA02570_hires.jpg'

'/spaceimages/images/largesize/PIA02570_hires.jpg'

In [16]:
print(f'')
img_url = 'https://www.jpl.nasa.gov' + img.find('a')['href']

In [17]:
img_url

'https://www.jpl.nasa.gov/spaceimages/images/largesize/PIA18897_hires.jpg'

### Mars Weather - Latest Tweets

In [18]:
url = 'https://twitter.com/marswxreport?lang=en'
browser.visit(url)

In [19]:
html = browser.html
weather_soup = BeautifulSoup(html, 'html.parser')

In [20]:
latest_tweet = weather_soup.find('p', class_='TweetTextSize').text

In [21]:
latest_tweet

'InSight sol 233 (2019-07-23) low -98.8ºC (-145.9ºF) high -25.7ºC (-14.2ºF)\nwinds from the SE at 4.6 m/s (10.2 mph) gusting to 16.2 m/s (36.2 mph)\npressure at 7.60 hPapic.twitter.com/ksOXPg28yb'

### Mars Facts

In [22]:
url = 'http://space-facts.com/mars/'
df_list = pd.read_html(url)
df_list

[  Mars - Earth Comparison             Mars            Earth
 0               Diameter:         6,779 km        12,742 km
 1                   Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
 2                  Moons:                2                1
 3      Distance from Sun:   227,943,824 km   149,598,262 km
 4         Length of Year:   687 Earth days      365.24 days
 5            Temperature:    -153 to 20 °C      -88 to 58°C,
                       0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers]

In [23]:
df = df_list[0]

In [25]:
df.columns

Index(['Mars - Earth Comparison', 'Mars', 'Earth'], dtype='object')

In [26]:
df.columns = ['Description', 'Value','Earth Value']

In [27]:
df.set_index('Description', inplace=True)

In [28]:
df = df[['Value']]

In [29]:
df

                              Value
Description
Diameter:                  6,779 km
Mass:               6.39 × 10^23 kg
Moons:                            2
Distance from Sun:   227,943,824 km
Length of Year:      687 Earth days
Temperature:          -153 to 20 °C

In [30]:

facts_table = df.to_html(classes='table table-striped')

In [31]:
facts_table

'<table border="1" class="dataframe table table-striped">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>Value</th>\n    </tr>\n    <tr>\n      <th>Description</th>\n      <th></th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>Diameter:</th>\n      <td>6,779 km</td>\n    </tr>\n    <tr>\n      <th>Mass:</th>\n      <td>6.39 × 10^23 kg</td>\n    </tr>\n    <tr>\n      <th>Moons:</th>\n      <td>2</td>\n    </tr>\n    <tr>\n      <th>Distance from Sun:</th>\n      <td>227,943,824 km</td>\n    </tr>\n    <tr>\n      <th>Length of Year:</th>\n      <td>687 Earth days</td>\n    </tr>\n    <tr>\n      <th>Temperature:</th>\n      <td>-153 to 20 °C</td>\n    </tr>\n  </tbody>\n</table>'

### Mars Hemispheres

In [32]:
executable_path = {'executable_path': 'mars_app/chromedriver'}
browser = Browser("chrome", **executable_path, headless=False)

url = 'http://www.planetary.org/blogs/guest-blogs/bill-dunford/20140203-the-faces-of-mars.html'
browser.visit(url)

html = browser.html
hemi_soup = BeautifulSoup(html, 'html.parser')

h5s = hemi_soup.find_all("h5")

In [33]:
# Hemispheres Titles
img_titles = []
for h5 in h5s:
    h5 =  str(h5)
#  slice the text to remove hmlt tags
    h5 = h5[4:-5] 
    img_titles.append(h5)
    
# slice the list to get the titles 
hemi_titles = img_titles[1:5]

hemi_titles

['Mars: Valles Marineris Hemisphere',
 'Mars: Syrtis Major Hemisphere',
 'Mars: Cerberus Hemisphere ',
 'Mars: Schiaparelli Hemisphere ']

In [34]:

# Searching for a common tag to scrape image urls
hemi_links = hemi_soup.find_all('img', class_='img840')

hemi_urls = []
for i in range(0, len(hemi_links)):
    hemi_urls.append(hemi_links[i]['src'])
    
hemi_urls

['https://planetary.s3.amazonaws.com/assets/images/4-mars/2014/20140202_valles_marineris_enhanced_f840.jpg',
 'https://planetary.s3.amazonaws.com/assets/images/4-mars/2014/20140202_syrtis_major_enhanced_f840.jpg',
 'https://planetary.s3.amazonaws.com/assets/images/4-mars/2014/20140202_cerberus_enhanced_f840.jpg',
 'https://planetary.s3.amazonaws.com/assets/images/4-mars/2014/20140202_schiaparelli_enhanced_f840.jpg']

In [35]:

# Hemispheres Image Urls
hemisphere_img_url = []

for title, img_url in zip(hemi_titles, hemi_urls):
    hemisphere_img_url.append({'title': title, 'img_url': img_url})
    
hemisphere_img_url

[{'title': 'Mars: Valles Marineris Hemisphere',
  'img_url': 'https://planetary.s3.amazonaws.com/assets/images/4-mars/2014/20140202_valles_marineris_enhanced_f840.jpg'},
 {'title': 'Mars: Syrtis Major Hemisphere',
  'img_url': 'https://planetary.s3.amazonaws.com/assets/images/4-mars/2014/20140202_syrtis_major_enhanced_f840.jpg'},
 {'title': 'Mars: Cerberus Hemisphere ',
  'img_url': 'https://planetary.s3.amazonaws.com/assets/images/4-mars/2014/20140202_cerberus_enhanced_f840.jpg'},
 {'title': 'Mars: Schiaparelli Hemisphere ',
  'img_url': 'https://planetary.s3.amazonaws.com/assets/images/4-mars/2014/20140202_schiaparelli_enhanced_f840.jpg'}]